.wrapper {
  font-family: sans-serif;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  text-align: center;
  margin-bottom: 3em;
  font-size: 15pt;
}

.input {
  max-width: 300px;
  font-size: 17pt;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.5em;
}

.id {
  font-size: 20pt;
  border-radius: 5px;
  border: 2px solid black;
  padding: 0.5em;
  font-family: monospace;
  cursor: pointer;
}

.generate {
  font-size: 17pt;
  background: none;
  border: 1px solid grey;
  border-radius: 3px;
}